.header {
    text-align: center;
    color: white;
    background: radial-gradient(#5584AC, #22577E);
}

.city-input {
    font-size: 25px;
    font-weight: bold;
}

.current-weather{
    border: solid black;
}

.currentW{
    display:flex;
    flex-direction: column;
}